@import url('./main.css');
.list-group-item .ic_account{
    background-image: url('../images/icon/ic_account_black.svg');
}
.list-group-item .ic_information{
    background-image: url('../images/icon/ic_information_black.svg');
}
.list-group-item .ic_password{
    background-image: url('../images/icon/ic_password_black.svg');
}
.list-group-item .ic_order{
    background-image: url('../images/icon/ic_order_black.svg');
}
.list-group-item .ic_address{
    background-image: url('../images/icon/ic_address_black.svg');
}
.list-group-item .ic_coupon{
    background-image: url('../images/icon/ic_coupon_black.svg');
}
.list-group-item .ic_like{
    background-image: url('../images/icon/ic_like_off.svg');
}
.list-group-item .ic_logout{
    background-image: url('../images/icon/ic_logout_black.svg');
}
/* active */
.list-group-item.active .ic_account{
    background-image: url('../images/icon/ic_account_white.svg');
}
.list-group-item.active .ic_information{
    background-image: url('../images/icon/ic_information_white.svg');
}
.list-group-item.active .ic_password{
    background-image: url('../images/icon/ic_password_white.svg');
}
.list-group-item.active .ic_order{
    background-image: url('../images/icon/ic_order_white.svg');
}
.list-group-item.active .ic_address{
    background-image: url('../images/icon/ic_address_white.svg');
}
.list-group-item.active .ic_coupon{
    background-image: url('../images/icon/ic_coupon_white.svg');
}
.list-group-item.active .ic_like{
    background-image: url('../images/icon/ic_like_white.svg');
}
.addressTabContent .icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.addressTabContent .ic_edit{
    background-image: url('../images/icon/ic_edit_black.svg');
}
.addressTabContent .ic_delete{
    background-image: url('../images/icon/ic_delete_black.svg');
}
.addressTabContent a:hover .ic_edit{
    background-image: url('../images/icon/ic_edit_brown.svg');
}
.addressTabContent a:hover .ic_delete{
    background-image: url('../images/icon/ic_delete_brown.svg');
}
.wishlistContent .ic_like{
    background-color: var(--color-brownDeep);
    width: 30px;
    height: 30px;
}
.wishlistContent .ic_like img{
    width: 16px;
    height: 16px;
}
/* 優惠券 */
.couponContent .icon{
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.couponContent .newMember .icon{
    background-image: url('../images/icon/ic_account_white.svg');
}
.couponContent .freeCar .icon{
    background-image: url('../images/icon/ic_car_white.svg');
}
.couponContent .shopMoney .icon{
    background-image: url('../images/icon/ic_shop_white.svg');
}