:root{
    --color-red: #E40505;
    --color-pink: #e0afa0;
    --color-white: #ffffff;

    --color-black: #32302c;

    --color-grey66: #666666;
    --color-grey9f: #9f9f9f;
    --color-greyD4: #d4d4d4;
    --color-greyE9: #e9e9e9;
    --color-greyF7: #f7f7f7;

    --color-brown: #AC9E91;
    --color-brownDeep: #A78667;
    --color-brownLight: #F1ECE8;
}
body{
    font-family: Inter, -apple-system, 'Microsoft JhengHei UI', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}