:root{
    --color-red: #E40505;
    --color-pink: #e0afa0;
    --color-white: #ffffff;

    --color-black: #32302c;

    --color-grey66: #666666;
    --color-grey9f: #9f9f9f;
    --color-greyD4: #d4d4d4;
    --color-greyE9: #e9e9e9;
    --color-greyF7: #f7f7f7;

    --color-brown: #AC9E91;
    --color-brownDeep: #A78667;
    --color-brownLight: #F1ECE8;
    --color-brown5f: #997b5f;
    
    --bs-body-font-size: .875rem;

}
body{
    font-family: Inter, -apple-system, 'Microsoft JhengHei UI', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.fs-7{
    font-size: .9rem;
}
.fs-8{
    font-size: .8rem;
}
.form-check-input:checked{
    background-color: var(--color-brownDeep);
    border-color: var(--color-brownDeep);
}
.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgb(167 134 103 / 25%);
}
.form-control:focus{
    border-color: var(--color-brownDeep);
    box-shadow: 0 0 0 0.25rem rgb(167 134 103 / 25%);
}
.form-select:focus{
    border-color: var(--color-brownDeep);
    box-shadow: 0 0 0 0.25rem rgb(167 134 103 / 25%);
}
.btn-check:focus+.btn,.btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(167 134 103 / 25%);
}
/* 分頁按鈕 */
.page-link{
    color: var(--color-grey66);
    padding: 0.5rem 0.925rem;
}
.active>.page-link,
.page-link.active{
    background-color: var(--color-brownDeep);
    border-color: var(--color-brownDeep);
    color: var(--color-white);
}
.page-link:hover{
    background-color: var(--color-brownDeep);
    border-color: var(--color-brownDeep);
    color: var(--color-white);
}
.page-link:focus{
    background-color: var(--color-brownDeep);
    border-color: var(--color-brownDeep);
    color: var(--color-white);
    box-shadow: 0 0 0 0.25rem var(--color-brownLight);
}
/* 按鈕 邊框式*/
.btn-outline-brownDeep{
    color: var(--color-brownDeep);
    border-color: var(--color-brownDeep);
}
.btn-outline-brownDeep:hover{
    border-color: var(--color-brownDeep);
    background-color: var(--color-brownDeep);
    color: var(--color-white);
}
.btn-check:active+.btn-outline-brownDeep, .btn-check:checked+.btn-outline-brownDeep, .btn-outline-brownDeep.active, .btn-outline-brownDeep.dropdown-toggle.show, .btn-outline-brownDeep:active{
    border-color: var(--color-brownDeep);
    background-color: var(--color-brownDeep);
}

/* 按鈕 背景式 */
.btn-brownDeep{
    color: var(--color-white);
    border-color: var(--color-brownDeep);
    background-color: var(--color-brownDeep);
}
.btn-check:focus+.btn-brownDeep, .btn-brownDeep:focus{
    color: var(--color-white);
    border-color: var(--color-brownDeep);
    background-color: var(--color-brownDeep);
}
.btn-brownDeep:hover{
    color: var(--color-white);
    border-color: var(--color-brown5f);
    background-color: var(--color-brown5f);
}
/* List group */
.list-group-item.active{
    background-color: var(--color-black);
    border-color: var(--color-black);
}
.list-group-item .icon{
    width: 14px;
    height: 14px;
    display: inline-block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}