@import url(./base.css);
.nav-link{
    color: var(--color-grey66);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--color-brownDeep);
}
/* 輪播 */
.slick-dots{
    display: flex !important;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.slick-dots li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid var(--color-grey9f);
    overflow: hidden;
}
.slick-dots button{
    background-color: initial;
    font-size: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
}
.slick-dots .slick-active button{
    background-color: var(--color-grey9f);
}
/* 優惠 */
.discountAlert{
    padding: 4px 0;
    background-color: var(--color-brown);
}
/* 選單 */
.searchIcon{
    top: 50%;
    left: 2%;
    transform: translate(0 , -50%);
}
.searchInput{
    background-color: initial;
    color: var(--color-greyD4);
    border: none;
    padding-left: 2rem;
    border-bottom: 2px solid var(--color-greyD4);
}
.searchInput:focus{
    box-shadow: none;
    background-color: initial;
    color: var(--color-greyD4);
    border-color: initial;
}
.loginBtn{
    color: var(--color-black);
}
.cartBtn span{
    color: var(--color-black);
    background-color: var(--color-greyD4);
}
.dropdown .dropdown-menu{
    width: 240px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdownListMenu span{
    cursor: pointer;
}
.dropdownListMenu > ul{
    display: none;
    left: 100%;
    top: 0;
    width: 240px;
    max-height: 50vh;
}
.dropdownListMenu:hover > ul{
    display: block;
}
/* 手機選單 */
.menuBtn:focus{
    box-shadow: none;
}
.phoneMenu [aria-expanded="true"] .ic_arr{
    transform: rotate(-180deg);
}
.searchDropdown .dropdown-menu.show{
    display: flex;
}
.searchDropdown button{
    background-color: var(--color-pink);
    color: var(--color-white);
}
/* banner */
.banner .bannerSlick .bannerImg{
    object-fit: cover;
}
.banner .bannerInput{
    justify-content: center;
    width: 50%;
    top: 50%;
    left: 0;
    height: 100%;
    transform: translate(0,-50%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(5px);
}
.banner .bannerInput .bannerSearch:focus{
    box-shadow: none;
    color: var(--color-grey66);
}
.banner .slick-arrow{
    position: absolute;
    bottom: 1%;
    border: none;
    outline: none;
    color: transparent;
    font-size: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0.5;
}
.banner .slick-arrow:hover{
    opacity: 1;
    transition: all .5s;
}
.banner .slick-arrow.slick-prev{
    right: 22.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #ffffffd9 url('../images/icon/ic_left_black.svg') no-repeat center center / 30%;
}
.banner .slick-arrow.slick-next{
    right: 19.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ffffffd9 url('../images/icon/ic_right_black.svg') no-repeat center center / 30%;
}
.banner .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%,0);
}
.banner .slick-dots li{
    border: 1px solid var(--color-white);
}
.banner .slick-dots .slick-active button{
    background-color: var(--color-white);
}
@media (max-width: 576px) {
    .banner .bannerSlick .bannerImg{
        height: 25rem;
    }
    .banner .bannerInput{
        padding-bottom: 4rem;
        width: 100%;
        align-items: center;
        background: none;
        backdrop-filter: none;
        justify-content: flex-end;
    }
    .banner .bannerInput::before{
        content: '';
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
        backdrop-filter: blur(5px);
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .banner .bannerInput span{
        z-index: 1;
    }
}
@media (max-width: 1599px) { 
    .banner .slick-arrow.slick-prev{
        right: 9rem;
    }
    .banner .slick-arrow.slick-next{
        right: 6rem;
    }
}
@media (min-width: 1600px) { 
    .banner .slick-arrow.slick-prev{
        right: 35rem;
    }
    .banner .slick-arrow.slick-next{
        right: 32rem;
    }
}
@media (min-width: 1600px) and (max-width: 1920px) { 
    .banner .slick-arrow.slick-prev{
        right: 22rem;
    }
    .banner .slick-arrow.slick-next{
        right: 19rem;
    }
}
/* 商品分類 */
.classification{
    background-color: var(--color-greyF7);
}
.classification span{
    color: var(--color-grey66);
    font-size: .875rem;
}
.classification .slick-dots{
    padding-left: 0;
    margin: 0 auto;
    margin-top: 1rem;
}
.classification .slick-dots li{
    border: 1px solid var(--color-grey9f);
}
.classification .slick-dots .slick-active button{
    background-color: var(--color-grey9f);
}
/* 產品廣告 */
.productBanner .productText{
    top: 0;
    left: 0;
}
.productBanner .productBannerItem:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 40%);
}
/* 最新推出 + 熱門商品 */
.productExhibit span{
    color: var(--color-grey66);
    font-size: .875rem;
}
.productExhibit .card-text span{
    color: var( --color-grey9f);
    font-size: .875rem;
}
.productExhibit .slick-arrow{
    position: absolute;
    transform: translate(0,-50%);
    top: 50%;
    border: none;
    outline: none;
    color: transparent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    font-size: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
}
.productExhibit .slick-arrow.slick-prev{
    left: -1%;
    background: #ffffffd9 url('../images/icon/ic_left_black.svg') no-repeat center center / 30%;
}
.productExhibit .slick-arrow.slick-next{
    right: -1%;
    background: #ffffffd9 url('../images/icon/ic_right_black.svg') no-repeat center center / 30%;
}
.productExhibit .card:hover .card-img-top::before{
    content: '';
    transition: all .5s;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255 255 255 / 0.5);
}
.productExhibit .slick-dots{
    margin-top: 1rem;
}
@media (max-width: 576px) {
    .productExhibit .productSlick::before{
        display: none;
    }
}
/* 影片區 */
.video .videobox{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%
}
.video .videobox iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 公司服務 */
.company{
    background-color: var(--color-greyF7);
}
.footer{
    background-color: var(--color-brownLight);
    color: var(--color-grey66);
}
.footerContent{
    border-bottom: 1px solid var(--color-greyD4);
}
.footer .footerConpany .communityIcon{
    background-color: var(--color-grey9f);
    transition: all .5s;
    width: 40px;
    height: 40px;
}
.footer .footerConpany .communityIcon:hover{
    background-color: var(--color-brownDeep);
}
.pageTop{
    right: 1rem;
    bottom: 3rem;
}

@media (max-width: 576px) { 
    .pageTop{
        bottom: 6rem;
    }
}