@import url('./main.css');
.productSlick .slick-arrow.slick-prev{
    left: -3%;
}
.productSlick .slick-arrow.slick-next{
    right: -3%;
}
.productImg img{
    border-radius: 1rem;
}
.relatedProductSlick .slick-dots{
    margin-top: 2rem;
}
/* 加入購物車icon + 加入收藏icon */
.ic_cart{
    background: url('../images/icon/ic_cart_brown.svg') no-repeat center center / contain;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.btn:hover .ic_cart{
    background: url('../images/icon/ic_cart_white.svg') no-repeat center center / contain;
}

.ic_like{
    background: url('../images/icon/ic_like_brown.svg') no-repeat center center / contain;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.btn:hover .ic_like{
    background: url('../images/icon/ic_like_white.svg') no-repeat center center / contain;
}
/* 商品介紹 */


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--color-brownDeep);
    border-color: var(--color-white) var(--color-white) var(--color-brownDeep);
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: var(--color-white) var(--color-white) var(--color-brownDeep);
}