@import url('./main.css');
@media (min-width: 992px){
    .offcanvas-collapse {
        background-color: transparent;
        bottom: auto!important;
        display: block;
        height: auto!important;
        left: auto!important;
        position: static;
        right: auto!important;
        top: auto!important;
        transform: none!important;
        visibility: visible;
        width: 100%!important;
    }
}
.card-product-action{
    top: 35%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0s;
}
.shopProductItem:hover .card-product-action{
    opacity: 1;
    visibility: visible;
}
.card-product-action a{
    background-color: var(--color-white);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px -1px rgba(145,158,171,.2), 0 4px 5px 0 rgba(145,158,171,.14), 0 1px 10px 0 rgba(145,158,171,.12);
    height: 34px;
    transition: all .3s ease 0s;
    width: 34px;
}
.card-product-action a:hover{
    background-color: var(--color-brownDeep);
}
.card-product-action a i{
    width: 14px;
    height: 14px;
}
.card-product-action a i.ic_search{background: url('../images/icon/ic_search_black.svg') no-repeat center center / contain;}
.card-product-action a i.ic_cart{background: url('../images/icon/ic_cart.svg') no-repeat center center / contain;}
.card-product-action a i.ic_like{background: url('../images/icon/ic_like_off.svg') no-repeat center center / contain;}
.card-product-action a:hover i.ic_search{background: url('../images/icon/ic_search_white.svg') no-repeat center center / contain;}
.card-product-action a:hover i.ic_cart{background: url('../images/icon/ic_cart_white.svg') no-repeat center center / contain;}
.card-product-action a:hover i.ic_like{background: url('../images/icon/ic_like_white.svg') no-repeat center center / contain;}